body {
  margin: 0;
  background-image: "sky.png";
  background-repeat: repeat;
}

/*this is for hovering*/
.hover{
  width: 300px;
  height: auto;
  transition: box-shadow transform 0.5s ease;
}
.hat{
  width: 100px;
  height: 100px;
  position: fixed;
  animation-fill-mode: forwards;
  animation-name: example;
  animation-duration: 4s;
  z-index: 3;
}

@keyframes example {
  0%   {left:160px; top:0px;}
  50%  {left:160px; top:200px;}
  100% {left:160px; top:0px;}
}
.person{
  z-index: 2;
  margin-top: 72px;
}

/* parallax "viewport" */

.parallax {
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.layer1 {
  transform: translateZ(0);
}

.layer2 {
  transform: translateZ(-1px);
}

.layer3 {
  transform: translateZ(-2px);
}

.sun {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: yellow;
  animation-name: blink;
  animation-duration: 4s;
}
